*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth;}

body {
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(
        to bottom,
        var(--dark) 10%,
        var(--blue) 30%,
        var(--red) 50%,
        var(--blue) 70%,
        var(--dark) 90%
    );
}

.container{
    width: 86vw;
    margin: 0 auto 0;
}

/* NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV   NAV*/
nav{
    width: 100vw;
    margin-left: -7vw; padding: 3vh 7vw 1.5vh;
    display: flex;
    justify-content: space-between; align-items: center;
    position: fixed;
    top: 0; 
    z-index: 10;

background: linear-gradient(
    to bottom,
    var(--dark) 10%, 
    rgba(0, 0, 0, 0) 100%
    );
    border-radius: 0 0 30px 30px ;
    backdrop-filter: blur (5px);
    -webkit-backdrop-filter: blur(5px);
}

nav .menu{
    display: flex;
    gap: 16px;
}

nav a{
    text-decoration: none;
    font-size: 0.7rem;
}

/* MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN*/

.wallpaper-sterne{
    position: absolute;
    top: 7vh; left: -7vw;
    width: 100vw;
    opacity: 0.5;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 80%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 80%);
    z-index: -1;
}

main{
    position: relative;
    z-index: 2;
}

#start{
    padding-top: 20vh;
}

.stroke{
    color: transparent!important;
    -webkit-text-stroke: 1px var(--green);
}


    /* SLIDE   SLIDE   SLIDE   SLIDE   SLIDE   SLIDE   SLIDE   SLIDE   SLIDE   SLIDE*/
.slider{
    margin-left: -7vw!important;
    width: 100vw;
    margin: 12vh 0;
}

.slider02{
    margin: 3vh 0 8vh 0;
}

.marquee{
    overflow-x: hidden;
}

.highlight{
    display: flex;
    padding-left: 4.8rem;
    gap: 4.8rem;
    width: max-content;

    animation: slide 15s linear infinite;
}

.slider02 .highlight{ animation: slide02 8s linear infinite;}

.highlight p{
    white-space: nowrap;
    color: var(--purple);
    font-size: 0.7rem;
}

@keyframes slide { to{transform: translateX(-50%);}}
@keyframes slide02 { to{transform: translateX(-33.33%);}}

.fadeout-horizontal{
    mask-image: linear-gradient(
        to right, transparent,
        black 5rem, black calc(100% - 5rem),
        transparent
    );
}

    /* TEXTE   TEXTE   TEXTE   TEXTE   TEXTE   TEXTE   TEXTE   TEXTE   TEXTE   TEXTE*/

h1{
    font-size: 1.5rem;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 2vh;
}

h2{
    font-size: 0.9rem;
    line-height: 1.5;
}

.text-block{
    display: flex; flex-direction: column;
    gap: 30px;
    margin: 5vh 0 10vh;
}

.bold{
    font-family: "Days One", system-ui;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--green);
}

.text-bold{font-size: 12px;}

p{
    font-family: "ABeeZee", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    line-height: 1.5;
}

.text-big01{
    font-size: 1.5rem;
}

.text-big02{ font-size: 0.8rem;}
.text-small{ font-size: 0.7rem;}

.purple{ color: var(--purple);}

.text-lower{ text-transform: lowercase!important;}



    /* GALLERY  GALLERY  GALLERY  GALLERY  GALLERY  GALLERY  GALLERY  GALLERY  GALLERY*/

.gallery {
    display: grid;
    grid-template-areas:
    "pic01 pic01 pic04"
    "pic02 pic03 pic04"
    "pic02 pic03 pic04";
    gap: 5px;
}
      
.gallery img {
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
}
      
.pic01 { grid-area: pic01; }
.pic02 { grid-area: pic02; aspect-ratio: 1/1;}
.pic03 { grid-area: pic03; aspect-ratio: 1/1;}
.pic04 { grid-area: pic04; height: 100%;}



    /* PROGRAMM  PROGRAMM  PROGRAMM  PROGRAMM  PROGRAMM  PROGRAMM  PROGRAMM  PROGRAMM  PROGRAMM*/

#programm{
    padding-top: 10vh;
}
.programm{
    border-bottom: 1px solid var(--green);
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.programm-info{
    display: flex;
    justify-content: space-between; align-items: end;
    margin-bottom: 50px;
}

    /* BESUCH  BESUCH  BESUCH  BESUCH  BESUCH  BESUCH  BESUCH  BESUCH  BESUCH   BESUCH  BESUCH*/

.card{
    position: relative;
    background-color: var(--purple);
    padding: 25px 25px 10px;
    border-radius: 24px;
}

.card a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

.card p, .card span{ color: var(--dark);}

.address{
    display: flex; flex-direction: column;
    gap: 5px;
}

.open{
    margin-top: 30px;
    display: flex; flex-direction: column;
    align-items: end;
}

.card img{
    position: absolute;
    top: 25px; right: 25px;
    width: 12vw;

    opacity: 0.3;
}