@font-face {
    font-family: 'Days One';
    src: url(../assets/fonts/DaysOne-Regular.ttf);
}

@font-face {
    font-family: 'ABeeZee';
    src: url(../assets/fonts/ABeeZee-Regular.ttf);
}


:root{
    --green: #94DDBC;
    --purple: #9B9BE3;
    --blue: #3E3ECC;
    --red: #781528;
    --dark: #111144;
}